<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/impala-frontend/src/main/java/com/cloudera/impala/service/Coordinator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cloudera.impala.service.Coordinator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;select tinyint_col, avg(float_col) from alltypesagg where day=1 group by 1 having avg(float_col) &gt; 551&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="impala-frontend"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=${workspace_loc:impala-frontend}/../be/build/service -Dtest.hive.warehouse.dir=${workspace_loc:impala-frontend}/target/test-warehouse -Dtest.hive.metastore.jdbc.url=jdbc:derby:;databaseName=${workspace_loc:impala-frontend}/target/test_metastore_db;create=true;logDevice=${workspace_loc:impala-frontend}/target/test_metastore_db -Dtest.hive.metastore.jdbc.driver=org.apache.derby.jdbc.EmbeddedDriver -Dtest.hive.metastore.jdbc.username=APP -Dtest.hive.metastore.jdbc.password=mine"/>
</launchConfiguration>
