build
ext-py/sasl-0.1.1/dist/
ext-py/sasl-0.1.1/build/
ext-py/sasl-0.1.1/sasl.egg-info/
ext-py/prettytable-0.7.1/dist/
ext-py/prettytable-0.7.1/build
ext-py/prettytable-0.7.1/prettytable.egg-info
ext-py/sqlparse-0.1.19/dist/
ext-py/sqlparse-0.1.19/build/
ext-py/sqlparse-0.1.19/sqlparse.egg-info/
ext-py/bitarray-0.9.0/bitarray.egg-info/
ext-py/bitarray-0.9.0/dist/

# This file is used by buildall.sh to find files that need to be removed during the
# clean phase. Previous version of deps should be kept here for cleaning otherwise they
# may cause a build failure. Also the ignore path must be changed to the root folder
# so "git clean -Xdf" will work.
ext-py/sqlparse-0.1.7/
