<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>yarn.resourcemanager.webapp.address</name>
    <value>0.0.0.0:${YARN_WEBUI_PORT}</value>
  </property>

  <!-- Min value of 0 is required by llama -->
  <property>
    <name>yarn.scheduler.minimum-allocation-mb</name>
    <value>0</value>
  </property>

  <!-- Min value of 0 is required by llama -->
  <property>
    <name>yarn.scheduler.minimum-allocation-vcores</name>
    <value>0</value>
  </property>

  <property>
    <name>yarn.nodemanager.address</name>
    <value>127.0.0.1:${NODEMANAGER_PORT}</value>
  </property>

  <property>
    <name>yarn.nodemanager.delete.debug-delay-sec</name>
    <value>600</value>
  </property>

  <property>
    <name>yarn.nodemanager.resource.memory-mb</name>
    <value>16384</value>
  </property>

  <property>
    <name>yarn.nodemanager.resource.cpu-vcores</name>
    <value>16</value>
  </property>

  <property>
    <name>yarn.resourcemanager.nodemanagers.heartbeat-interval-ms</name>
    <value>100</value>
  </property>

  <property>
    <name>yarn.scheduler.fair.continuous-scheduling-enabled</name>
    <value>true</value>
  </property>

  <property>
    <name>yarn.scheduler.fair.assignmultiple</name>
    <value>true</value>
  </property>

  <property>
    <name>yarn.resourcemanager.scheduler.class</name>
    <value>org.apache.hadoop.yarn.server.resourcemanager.scheduler.fair.FairScheduler</value>
  </property>

  <property>
    <name>yarn.nodemanager.localizer.address</name>
    <value>127.0.0.1:0</value>
  </property>

  <property>
    <name>yarn.nodemanager.webapp.address</name>
    <value>127.0.0.1:0</value>
  </property>

  <property>
    <name>yarn.nodemanager.local-dirs</name>
    <value>${NODE_DIR}/data/yarn/local</value>
  </property>

  <property>
    <name>yarn.nodemanager.log-dirs</name>
    <value>${NODE_DIR}/data/yarn/logs</value>
  </property>

  <property>
    <name>yarn.nodemanager.aux-services</name>
    <value>mapreduce_shuffle</value>
  </property>

  <property>
    <name>yarn.nodemanager.aux-services.mapreduce_shuffle.class</name>
    <value>org.apache.hadoop.mapred.ShuffleHandler</value>
  </property>

  <property>
    <name>yarn.log-aggregation-enable</name>
    <value>true</value>
  </property>

  <property>
    <description>List of directories to store localized files in.</description>
    <name>yarn.nodemanager.local-dirs</name>
    <value>${NODE_DIR}/var/lib/hadoop-yarn/cache/${user.name}/nm-local-dir</value>
  </property>

  <property>
    <description>Where to store container logs.</description>
    <name>yarn.nodemanager.log-dirs</name>
    <value>${NODE_DIR}/var/log/hadoop-yarn/containers</value>
  </property>

  <property>
    <description>Where to aggregate logs to.</description>
    <name>yarn.nodemanager.remote-app-log-dir</name>
    <value>${NODE_DIR}/var/log/hadoop-yarn/apps</value>
  </property>

  <property>
    <description>Classpath for typical applications.</description>
     <name>yarn.application.classpath</name>
     <value>
        ${HADOOP_CONF_DIR},
        ${HADOOP_HOME}/share/hadoop/tools/lib/*,
        ${HADOOP_HOME}/share/hadoop/common/*,
        ${HADOOP_HOME}/share/hadoop/common/lib/*,
        ${HADOOP_HOME}/share/hadoop/hdfs/*,
        ${HADOOP_HOME}/share/hdfs/common/lib/*,
        ${HADOOP_HOME}/share/hadoop/mapreduce/*,
        ${HADOOP_HOME}/share/hadoop/mapreduce/lib/*,
        ${HADOOP_HOME}/share/hadoop/yarn/*,
        ${HADOOP_HOME}/share/hadoop/yarn/lib/*,
        ${LZO_JAR_PATH}
     </value>
  </property>

  <!-- BEGIN Kerberos settings -->

  <!-- KERBEROS TODO: Add these to yarn.application.classpath.
       ${IMPALA_FE_DIR}/target/*,${HADOOP_LZO}/build/*,
       ${IMPALA_FE_DIR}/target/dependency/* -->

  <!-- ResourceManager security configs -->
  <property>
    <name>yarn.resourcemanager.keytab</name>
    <value>${KRB5_KTNAME}</value>
  </property>

  <property>
    <name>yarn.resourcemanager.principal</name>
    <value>${MINIKDC_PRINC_USER}</value>
    <!-- Sort of horrible: instead of the yarn principle, we'll use ${USER}
         so that we don't have a problem with file system permissions. -->
  </property>

  <!-- NodeManager security configs -->
  <property>
    <name>yarn.nodemanager.keytab</name>
    <value>${KRB5_KTNAME}</value>
  </property>

  <property>
    <name>yarn.nodemanager.principal</name>
    <value>${MINIKDC_PRINC_USER}</value>
    <!-- Also sort of horrible as per above -->
  </property>
  <!-- END Kerberos settings -->

</configuration>
