BasedOnStyle: Google
AlignAfterOpenBracket: 'false'
AlignOperands: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'Inline'
AllowShortIfStatementsOnASingleLine: 'true'
BreakBeforeBinaryOperators: 'NonAssignment'
BreakBeforeTernaryOperators: 'false'
ColumnLimit: '90'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '4'
DerivePointerAlignment: 'false'
PenaltyBreakBeforeFirstCallParameter: '99999999'
SpacesBeforeTrailingComments: '1'
Standard: 'Cpp11'
