*~
*.pyc
.*.swp
derby.log
thirdparty
cscope.files
cscope.out
org.eclipse.jdt.core.prefs
org.eclipse.jdt.ui.prefs
*benchmark_results.csv*
load-*-generated.sql
bin/version.info

pprof.out

TempStatsStore

# CMake:
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
!CMakeLists.txt


Testing/
llvm-ir/
shell/gen-py/
shell/build/
tests/results
hdfs-data/
avro_schemas/
cluster_logs/
