*~
derby.log
thirdparty
cscope.files
cscope.out
org.eclipse.jdt.core.prefs

pprof.out

TempStatsStore

# CMake:
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
!CMakeLists.txt
Testing/
