# Marking minified JS, CSS, etc, files prevents long lines from showing up in "git grep".
tests/comparison/leopard/static/css/bootstrap.css binary
tests/comparison/leopard/static/css/bootstrap.css.map binary
tests/comparison/leopard/static/css/bootstrap.min.css binary
tests/comparison/leopard/static/css/bootstrap-theme.min.css binary
tests/comparison/leopard/static/css/bootstrap-theme.css.map binary
tests/comparison/leopard/static/js/bootstrap.js binary
tests/comparison/leopard/static/js/bootstrap.min.js binary
tests/comparison/leopard/static/js/highlight.pack.js binary
www/bootstrap/css/bootstrap.css binary
www/bootstrap/css/bootstrap-4.3.1.min.css binary
www/bootstrap/css/bootstrap.css.map binary
www/bootstrap/css/bootstrap.min.css binary
www/bootstrap/css/bootstrap.min.css.map binary
www/bootstrap/js/bootstrap.js binary
www/bootstrap/js/bootstrap.min.js
www/bootstrap/js/bootstrap.min.js binary
www/c3/c3.v7.min.js binary
www/c3/c3.v7.min.css binary
www/d3.v3.min.js binary
www/d3.v5.min.js binary
www/dagre-d3.min.js binary
www/DataTables-1.10.18/js/dataTables.bootstrap.min.js binary
www/DataTables-1.10.18/js/dataTables.bootstrap4.min.js biinary
www/DataTables-1.10.18/js/dataTables.foundation.min.js binary
www/DataTables-1.10.18/js/dataTables.jqueryui.min.js binary
www/DataTables-1.10.18/js/dataTables.semanticui.min.js binary
www/DataTables-1.10.18/js/jquery.dataTables.min.js binary
www/datatables.min.js binary
www/datatables-1.13.2.min.js binary
www/datatables-1.13.2.min.css binary
www/highlight/highlight.pack.js binary
www/jquery/jquery-3.5.1.min.js binary
www/pako.min.js binary