<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<configuration>
  <property>
    <name>ranger.jdbc.sqlconnectorjar</name>
    <value>${POSTGRES_JDBC_DRIVER}</value>
    <description/>
  </property>
  <property>
    <name>ranger.service.user</name>
    <value>ranger</value>
    <description/>
  </property>
  <property>
    <name>ranger.service.group</name>
    <value>ranger</value>
    <description/>
  </property>

  <property>
    <name>ajp.enabled</name>
    <value>false</value>
    <description/>
  </property>

  <property>
    <name>ranger.db.maxrows.default</name>
    <value>200</value>
  </property>
  <property>
    <name>ranger.db.min_inlist</name>
    <value>20</value>
  </property>
  <property>
    <name>ranger.ui.defaultDateformat</name>
    <value>MM/dd/yyyy</value>
  </property>
  <property>
    <name>ranger.db.defaultDateformat</name>
    <value>yyyy-MM-dd</value>
  </property>

  <property>
    <name>ranger.ajax.auth.required.code</name>
    <value>401</value>
  </property>
  <property>
    <name>ranger.ajax.auth.success.page</name>
    <value>/ajax_success.html</value>
  </property>
  <property>
    <name>ranger.logout.success.page</name>
    <value>/login.jsp?action=logged_out</value>
  </property>
  <property>
    <name>ranger.ajax.auth.failure.page</name>
    <value>/ajax_failure.jsp</value>
  </property>

  <property>
    <name>ranger.users.roles.list</name>
    <value>
      ROLE_SYS_ADMIN, ROLE_USER, ROLE_OTHER, ROLE_ANON, ROLE_KEY_ADMIN,
      ROLE_ADMIN_AUDITOR, ROLE_KEY_ADMIN_AUDITOR
    </value>
  </property>

  <property>
    <name>ranger.mail.enabled</name>
    <value>false</value>
  </property>
  <property>
    <name>ranger.mail.smtp.auth</name>
    <value>false</value>
  </property>
  <property>
    <name>ranger.mail.retry.sleep.ms</name>
    <value>2000</value>
  </property>
  <property>
    <name>ranger.mail.retry.max.count</name>
    <value>5</value>
  </property>
  <property>
    <name>ranger.mail.retry.sleep.incr_factor</name>
    <value>1</value>
  </property>
  <property>
    <name>ranger.mail.listener.enable</name>
    <value>false</value>
  </property>

  <property>
    <name>ranger.second_level_cache</name>
    <value>true</value>
  </property>
  <property>
    <name>ranger.use_query_cache</name>
    <value>true</value>
  </property>

  <property>
    <name>ranger.user.firstname.maxlength</name>
    <value>16</value>
  </property>
  <property>
    <name>ranger.bookmark.name.maxlen</name>
    <value>150</value>
  </property>

  <property>
    <name>ranger.rbac.enable</name>
    <value>false</value>
  </property>

  <property>
    <name>ranger.rest.paths</name>
    <value>org.apache.ranger.rest,xa.rest</value>
  </property>

  <property>
    <name>ranger.password.hidden</name>
    <value>*****</value>
  </property>
  <property>
    <name>ranger.resource.accessControl.enabled</name>
    <value>true</value>
  </property>
  <property>
    <name>ranger.xuser.createdByUserId</name>
    <value>1</value>
  </property>

  <property>
    <name>ranger.allow.hack</name>
    <value>1</value>
  </property>

  <property>
    <name>ranger.log.SC_NOT_MODIFIED</name>
    <value>false</value>
  </property>

  <property>
    <name>ranger.servlet.mapping.url.pattern</name>
    <value>service</value>
  </property>

  <property>
    <name>ranger.file.separator</name>
    <value>/</value>
  </property>

  <property>
    <name>ranger.db.access.filter.enable</name>
    <value>true</value>
  </property>
  <property>
    <name>ranger.moderation.enabled</name>
    <value>false</value>
  </property>
  <property>
    <name>ranger.userpref.enabled</name>
    <value>false</value>
  </property>

  <property>
    <name>ranger.unixauth.remote.login.enabled</name>
    <value>true</value>
  </property>
  <property>
    <name>ranger.unixauth.service.hostname</name>
    <value>localhost</value>
  </property>
  <property>
    <name>ranger.unixauth.service.port</name>
    <value>5151</value>
  </property>
  <property>
    <name>ranger.unixauth.ssl.enabled</name>
    <value>true</value>
  </property>
  <property>
    <name>ranger.unixauth.debug</name>
    <value>false</value>
  </property>
  <property>
    <name>ranger.unixauth.server.cert.validation</name>
    <value>false</value>
  </property>

  <property>
    <name>ranger.unixauth.keystore</name>
    <value>keystore.jks</value>
  </property>
  <property>
    <name>ranger.unixauth.keystore.credential.alias</name>
    <value>unixAuthKeyStoreAlias</value>
  </property>
  <property>
    <name>ranger.unixauth.keystore.password</name>
    <value>password</value>
  </property>
  <property>
    <name>ranger.unixauth.truststore</name>
    <value>cacerts</value>
  </property>
  <property>
    <name>ranger.unixauth.truststore.credential.alias</name>
    <value>unixAuthTrustStoreAlias</value>
  </property>
  <property>
    <name>ranger.unixauth.truststore.password</name>
    <value>changeit</value>
  </property>

  <property>
    <name>maven.project.version</name>
    <value>0.5.0</value>
    <description/>
  </property>

  <property>
    <name>ranger.service.shutdown.port</name>
    <value>6085</value>
  </property>

  <property>
    <name>ranger.service.shutdown.command</name>
    <value>SHUTDOWN</value>
  </property>

  <property>
    <name>ranger.service.https.attrib.ssl.protocol</name>
    <value>TLS</value>
  </property>

  <property>
    <name>ranger.service.https.attrib.client.auth</name>
    <value>false</value>
  </property>

  <property>
    <name>ranger.accesslog.dateformat</name>
    <value>yyyy-MM-dd</value>
  </property>

  <property>
    <name>ranger.accesslog.pattern</name>
    <value>%h %l %u %t "%r" %s %b "%{Referer}i" "%{User-Agent}i"</value>
  </property>

  <property>
    <name>ranger.contextName</name>
    <value>/</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.showsql</name>
    <value>false</value>
    <description/>
  </property>

  <property>
    <name>ranger.env.local</name>
    <value>true</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.dialect</name>
    <value>org.eclipse.persistence.platform.database.PostgreSQLPlatform</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.maxpoolsize</name>
    <value>40</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.minpoolsize</name>
    <value>5</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.initialpoolsize</name>
    <value>5</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.maxidletime</name>
    <value>300</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.idletimeout</name>
    <value>300000</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.maxlifetime</name>
    <value>1800000</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.connectiontimeout</name>
    <value>30000</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.maxstatements</name>
    <value>500</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.preferredtestquery</name>
    <value>select 1;</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.idleconnectiontestperiod</name>
    <value>60</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.jdbc.credential.alias</name>
    <value>ranger.db.password</value>
    <description/>
  </property>

  <property>
    <name>ranger.credential.provider.path</name>
    <value>${RANGER_HOME}/ews/webapp/WEB-INF/classes/conf/.jceks/rangeradmin.jceks</value>
    <description/>
  </property>

  <property>
    <name>ranger.logs.base.dir</name>
    <value>user.home</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.audit.jdbc.dialect</name>
    <value>org.eclipse.persistence.platform.database.PostgreSQLPlatform</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.audit.jdbc.credential.alias</name>
    <value>ranger.auditdb.password</value>
    <description/>
  </property>

  <property>
    <name>ranger.ldap.binddn.credential.alias</name>
    <value>ranger.ldap.binddn.password</value>
    <description/>
  </property>

  <property>
    <name>ranger.ldap.ad.binddn.credential.alias</name>
    <value>ranger.ad.binddn.password</value>
    <description/>
  </property>

  <property>
    <name>ranger.resource.lookup.timeout.value.in.ms</name>
    <value>1000</value>
    <description/>
  </property>

  <property>
    <name>ranger.validate.config.timeout.value.in.ms</name>
    <value>10000</value>
    <description/>
  </property>

  <property>
    <name>ranger.timed.executor.max.threadpool.size</name>
    <value>10</value>
    <description/>
  </property>

  <property>
    <name>ranger.timed.executor.queue.size</name>
    <value>100</value>
    <description/>
  </property>
  <property>
    <name>ranger.solr.audit.credential.alias</name>
    <value>ranger.solr.password</value>
    <description/>
  </property>
  <property>
    <name>ranger.sha256Password.update.disable</name>
    <value>true</value>
    <description/>
  </property>

  <property>
    <name>ranger.jpa.audit.jdbc.driver</name>
    <value>org.postgresql.Driver</value>
    <description/>
  </property>
  <property>
    <name>ranger.jpa.audit.jdbc.url</name>
    <value>jdbc:log4jdbc:mysql://localhost/rangeraudit</value>
    <description/>
  </property>
  <property>
    <name>ranger.jpa.audit.jdbc.user</name>
    <value>rangerlogger</value>
    <description/>
  </property>
  <property>
    <name>ranger.jpa.audit.jdbc.password</name>
    <value>rangerlogger</value>
    <description/>
  </property>
  <property>
    <name>ranger.supportedcomponents</name>
    <value/>
  </property>

  <property>
    <name>ranger.sso.cookiename</name>
    <value>hadoop-jwt</value>
  </property>
  <property>
    <name>ranger.sso.query.param.originalurl</name>
    <value>originalUrl</value>
  </property>
  <property>
    <name>ranger.rest-csrf.enabled</name>
    <value>true</value>
  </property>
  <property>
    <name>ranger.rest-csrf.custom-header</name>
    <value>X-XSRF-HEADER</value>
  </property>
  <property>
    <name>ranger.rest-csrf.methods-to-ignore</name>
    <value>GET,OPTIONS,HEAD,TRACE</value>
  </property>
  <property>
    <name>ranger.rest-csrf.browser-useragents-regex</name>
    <value>Mozilla,Opera,Chrome</value>
  </property>
  <property>
    <name>ranger.krb.browser-useragents-regex</name>
    <value>Mozilla,Opera,Chrome</value>
  </property>
  <property>
    <name>ranger.db.ssl.enabled</name>
    <value>false</value>
  </property>
  <property>
    <name>ranger.db.ssl.required</name>
    <value>false</value>
  </property>
  <property>
    <name>ranger.db.ssl.verifyServerCertificate</name>
    <value>false</value>
  </property>
  <property>
    <name>ranger.db.ssl.auth.type</name>
    <value>2-way</value>
  </property>
  <property>
    <name>ranger.keystore.file</name>
    <value/>
  </property>
  <property>
    <name>ranger.keystore.alias</name>
    <value>keyStoreAlias</value>
  </property>
  <property>
    <name>ranger.keystore.password</name>
    <value/>
  </property>
  <property>
    <name>ranger.truststore.file</name>
    <value/>
  </property>
  <property>
    <name>ranger.truststore.alias</name>
    <value>trustStoreAlias</value>
  </property>
  <property>
    <name>ranger.truststore.password</name>
    <value/>
  </property>
  <property>
    <name>ranger.service.https.attrib.ssl.enabled.protocols</name>
    <value>SSLv2Hello, TLSv1, TLSv1.1, TLSv1.2</value>
  </property>

  <property>
    <name>ranger.password.encryption.key</name>
    <value>tzL1AKl5uc4NKYaoQ4P3WLGIBFPXWPWdu1fRm9004jtQiV</value>
  </property>
  <property>
    <name>ranger.password.salt</name>
    <value>f77aLYLo</value>
  </property>
  <property>
    <name>ranger.password.iteration.count</name>
    <value>1000</value>
  </property>
  <property>
    <name>ranger.password.encryption.algorithm</name>
    <value>PBEWithMD5AndDES</value>
  </property>
  <property>
    <name>ranger.default.browser-useragents</name>
    <value>Mozilla,Opera,Chrome</value>
  </property>
</configuration>
