# The [groups] section maps roles to user groups. If using a HadoopGroupPolicyProvider,
# the group names must correspond to valid Hadoop user groups. If using a
# LocalGroupPolicyProvider, the groups defined in this section are mapped to users
# in the [users] section.
[groups]
${USER} = all_tpch, all_newdb, all_functional_seq_snap, select_tpcds,\
          select_functional_alltypesagg, insert_functional_alltypes,\
          select_functional_complex_view, select_functional_view_view,\
          insert_parquet, new_table_uri, tpch_data_uri, select_column_level_functional,\
          upper_case_uri
server_admin = all_server

# The [roles] section defines privileges for objects in the authorizeable hierarchy.
# Each role must start at the server-level and go down. If no "action" is specified, the
# role will have all permissions at that level. For more information see the Hive Access
# documentation.
[roles]
all_server = server=server1
all_tpch = server=server1->db=tpch
all_newdb = server=server1->db=newdb
all_functional_seq_snap = server=server1->db=functional_seq_snap
select_tpcds = server=server1->db=tpcds->table=*->action=select
select_functional_alltypesagg =\
    server=server1->db=functional->table=alltypesagg->action=select
insert_functional_alltypes = server=server1->db=functional->table=alltypes->action=insert
select_functional_complex_view =\
    server=server1->db=functional->table=complex_view->action=select
select_functional_view_view =\
    server=server1->db=functional->table=view_view->action=select
insert_parquet = server=server1->db=functional_parquet->table=*->action=insert
select_column_level_functional =\
    server=server1->db=functional->table=alltypessmall->column=id->action=select,\
    server=server1->db=functional->table=alltypessmall->column=int_col->action=select,\
    server=server1->db=functional->table=alltypessmall->column=year->action=select,\
    server=server1->db=functional->table=alltypestiny->column=id->action=select,\
    server=server1->db=functional->table=alltypestiny->column=bool_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=tinyint_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=smallint_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=int_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=bigint_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=float_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=double_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=date_string_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=timestamp_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=string_col->action=select,\
    server=server1->db=functional->table=alltypestiny->column=year->action=select,\
    server=server1->db=functional->table=alltypestiny->column=month->action=select,\
    server=server1->db=functional->table=allcomplextypes->column=int_struct_col->action=select,\
    server=server1->db=functional->table=allcomplextypes->column=id->action=select,\
    server=server1->db=functional->table=allcomplextypes->column=struct_array_col->action=select,\
    server=server1->db=functional->table=allcomplextypes->column=int_map_col->action=select
new_table_uri = server=server1->uri=hdfs://localhost:20500/test-warehouse/new_table
tpch_data_uri = server=server1->uri=hdfs://localhost:20500/test-warehouse/tpch.lineitem
upper_case_uri = server=server1->uri=hdfs://localhost:20500/test-warehouse/UPPER_CASE

# This section allows for an admin specified mapping of users -> groups rather than using
# the built-in hadoop group mapping. This section is only applicable if using the
# LocalGroupResourcePolicyProvider, it is ignored by the
# HadoopGroupResourcePolicyProvider.
[users]
test_user = ${USER}
admin_user = server_admin
