-fs_wal_dir=${NODE_DIR}/var/lib/kudu/master/wal
-fs_data_dirs=${NODE_DIR}/var/lib/kudu/master/data
-log_dir=${NODE_DIR}/var/log/kudu/master

# fsync is disabled for additional speed. Sometimes operations are slow on EC2/GCE test
# machines. Some data loss could occur if the system crashes before the OS has a chance
# to flush data to disk but that is acceptable for development purposes.
-unlock_unsafe_flags
-never_fsync
