<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    {% if post.description() %}
    <meta name="description" content="{{ post.description()|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author()|e }}">
    {% if post.prev_post %}
        <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.next_post %}
        <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}

{% block content %}
<article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ pheader.html_post_header() }}
    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>
    <aside class="postpromonav">
    <nav>
    {{ helper.html_tags(post) }}
    {{ helper.html_pager(post) }}
    </nav>
    </aside>
    {% if not post.meta('nocomments') and site_has_comments %}
        <section class="comments hidden-print">
        <h3>{{ messages("Comments") }}</h3>
        {{ comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path) }}
        </section>
    {% endif %}
</article>
{{ comments.comment_link_script() }}
{% endblock %}
