-fs_wal_dir=${NODE_DIR}/var/lib/kudu/master/wal
-fs_data_dirs=${NODE_DIR}/var/lib/kudu/master/data
-log_dir=${NODE_DIR}/var/log/kudu/master

# The flags below require unsafe flags to be unlocked.
-unlock_unsafe_flags

# fsync is disabled for additional speed. Sometimes operations are slow on EC2/GCE test
# machines. Some data loss could occur if the system crashes before the OS has a chance
# to flush data to disk but that is acceptable for development purposes.
-never_fsync

# There is no need to require NTP-synchronized clock for tests where all the
# participating Kudu masters and tablet servers are run at the same node using the same
# local wallclock.
-time_source=system_unsync

# Enable Kudu transaction
-txn_manager_enabled=true
-unlock_experimental_flags

# Enable custom range partitions
-enable_per_range_hash_schemas=true
