-rpc_bind_addresses=${INTERNAL_LISTEN_HOST}:${KUDU_TS_RPC_PORT}
-webserver_port=${KUDU_TS_WEBUI_PORT}
-fs_wal_dir=${NODE_DIR}/var/lib/kudu/ts/wal
-fs_data_dirs=${NODE_DIR}/var/lib/kudu/ts/data
-log_dir=${NODE_DIR}/var/log/kudu/ts

# The flags below require unsafe flags to be unlocked.
-unlock_unsafe_flags

# fsync is disabled for additional speed. Sometimes operations are slow on EC2/GCE test
# machines. Some data loss could occur if the system crashes before the OS has a chance
# to flush data to disk but that is acceptable for development purposes.
-never_fsync

# There is no need to require NTP-synchronized clock for tests where all the
# participating Kudu masters and tablet servers are run at the same node using the same
# local wallclock.
-time_source=system_unsync

# Enable Kudu transaction.
-enable_txn_system_client_init
-unlock_experimental_flags

# Due to KUDU-1973 kudu-tservers produce high CPU consumption (see also KUDU-3134) when
# there is a high number of table replicas. This means that in the Impala dev
# environment the CPU consumption can be around 15-20% per kudu-tserver (there are 3
# kudu-tservers) when all the Kudu tables are loaded. Setting the value to 3 seconds
# lowers CPU usage to ~5% per kudu-terver.
--raft_heartbeat_interval_ms=3000
