{{# __common__.csrf_token }}
<input type='hidden' name='csrf_token' value='{{ __common__.csrf_token }}' />
{{/ __common__.csrf_token }}
{{# __common__.hostname }}
<input type='hidden' name='scheme' value='{{ __common__.scheme }}' />
<input type='hidden' name='host' value='{{ __common__.hostname }}' />
<input type='hidden' name='port' value='{{ __common__.port }}' />
{{/ __common__.hostname }}