<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
{{> www/common-header.tmpl }}
<h2>Queries</h2>
<p class="lead">This page lists all running queries, plus any completed queries that are
archived in memory. The size of that archive is controlled with the
<samp>--query_log_size</samp> command line parameter.</p>
<p>The length of the statements are controlled with the <samp>--query_stmt_size</samp>
command line parameter.</p>

<h3>{{num_executing_queries}} queries in flight</h3>

<table class='table table-hover table-border'>
  <tr>
    <th title="{{tips_query_id}}">Query ID</th>
    <th title="{{tips_action_cancel}}">Action</th>
    <th title="{{tips_user}}">User</th>
    <th title="{{tips_default_db}}">Default Db</th>
    <th title="{{tips_query_type}}">Query Type</th>
    <th title="{{tips_start_time}}">Start Time</th>
    <th>
      <span title="{{tips_duration}}">Duration</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_queued_duration}}">Queued&nbsp;Duration</span>
    </th>
    <th>
      <span title="{{tips_mem_usage}}">Mem&nbsp;Usage</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_mem_estimate}}">Mem&nbsp;Estimate</span>
    </th>
    <th title="{{tips_scan_progress}}">Scan Progress</th>
    <th>
      <span title="{{tips_bytes_read}}">Bytes&nbsp;Read</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_bytes_sent}}">Bytes&nbsp;Sent</span>
    </th>
    <th title="{{tips_state}}">State</th>
    <th title="{{tips_last_event}}">Last Event</th>
    <th title="{{tips_rows_fetched}}"># rows fetched</th>
    <th title="{{tips_resource_pool}}">Resource Pool</th>
    <th title="{{tips_statement}}">Statement</th>
  </tr>
{{! filter to get just executing queries from in_flight_queries}}
{{#in_flight_queries}}
{{?executing}}
  <tr>
    <td style="min-width:150px;word-break:break-all;"><a href='{{ __common__.host-url }}/query_plan?query_id={{query_id}}'>{{query_id}}</a></td>
    <td><a href='{{ __common__.host-url }}/cancel_query?query_id={{query_id}}'>Cancel</a></td>
    <td>{{effective_user}}</td>
    <td>{{default_db}}</td>
    <td><samp>{{stmt_type}}</samp></td>
    <td>{{start_time}}</td>
    <td>{{duration}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{queued_duration}}</td>
    <td>{{mem_usage}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{mem_est}}</td>
    <td>{{progress}}</td>
    <td>{{bytes_read}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{bytes_sent}}</td>
    <td><samp>{{state}}</samp></td>
    <td><samp>{{last_event}}</samp></td>
    <td>{{rows_fetched}}</td>
    <td>{{resource_pool}}</td>
    <td><samp>{{stmt}}</samp></td>
  </tr>
{{/executing}}
{{/in_flight_queries}}
</table>

<h3>
  {{num_waiting_queries}} waiting to be closed
  <sup><a href='#' data-toggle="tooltip" title="{{waiting-tooltip}}">[?]</a></sup>
</h3>

<table class='table table-hover table-border'>
  <tr>
    <th title="{{tips_query_id}}">Query ID</th>
    <th title="{{tips_action_close}}">Action</th>
    <th title="{{tips_user}}">User</th>
    <th title="{{tips_default_db}}">Default Db</th>
    <th title="{{tips_query_type}}">Query Type</th>
    <th title="{{tips_start_time}}">Start Time</th>
    <th title="{{tips_waiting_time}}">Waiting Time</th>
    <th>
      <span title="{{tips_duration}}">Duration</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_queued_duration}}">Queued&nbsp;Duration</span>
    </th>
    <th>
      <span title="{{tips_mem_usage}}">Mem&nbsp;Usage</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_mem_estimate}}">Mem&nbsp;Estimate</span>
    </th>
    <th title="{{tips_scan_progress}}">Scan Progress</th>
    <th>
      <span title="{{tips_bytes_read}}">Bytes&nbsp;Read</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_bytes_sent}}">Bytes&nbsp;Sent</span>
    </th>
    <th title="{{tips_state}}">State</th>
    <th title="{{tips_last_event}}">Last Event</th>
    <th title="{{tips_rows_fetched}}"># rows fetched</th>
    <th title="{{tips_resource_pool}}">Resource Pool</th>
    <th title="{{tips_statement}}">Statement</th>
  </tr>
{{! filter to get just waiting queries from in_flight_queries}}
{{#in_flight_queries}}
{{?waiting}}
  <tr>
    <td style="min-width:150px;word-break:break-all;"><a href='{{ __common__.host-url }}/query_plan?query_id={{query_id}}'>{{query_id}}</a></td>
    <td><a href='{{ __common__.host-url }}/cancel_query?query_id={{query_id}}'>Close</a></td>
    <td>{{effective_user}}</td>
    <td>{{default_db}}</td>
    <td><samp>{{stmt_type}}</samp></td>
    <td>{{start_time}}</td>
    <td>{{waiting_time}}</td>
    <td>{{duration}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{queued_duration}}</td>
    <td>{{mem_usage}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{mem_est}}</td>
    <td>{{progress}}</td>
    <td>{{bytes_read}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{bytes_sent}}</td>
    <td><samp>{{state}}</samp></td>
    <td><samp>{{last_event}}</samp></td>
    <td>{{rows_fetched}}</td>
    <td>{{resource_pool}}</td>
    <td><samp>{{stmt}}</samp></td>
  </tr>
{{/waiting}}
{{/in_flight_queries}}
</table>

<h3>Last {{completed_log_size}} Completed Queries</h3>

<table class='table table-hover table-border'>
  <tr>
    <th title="{{tips_query_id}}">Query ID</th>
    <th title="{{tips_user}}">User</th>
    <th title="{{tips_default_db}}">Default Db</th>
    <th title="{{tips_query_type}}">Query Type</th>
    <th title="{{tips_start_time}}">Start Time</th>
    <th title="{{tips_end_time}}">End Time</th>
    <th>
      <span title="{{tips_duration}}">Duration</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_queued_duration}}">Queued&nbsp;Duration</span>
    </th>
    <th>
      <span title="{{tips_mem_usage}}">Mem&nbsp;Usage</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_mem_estimate}}">Mem&nbsp;Estimate</span>
    </th>
    <th title="{{tips_scan_progress}}">Scan Progress</th>
    <th>
      <span title="{{tips_bytes_read}}">Bytes&nbsp;Read</span>
      <hr style="margin-top:0px;margin-bottom:0px;"/>
      <span title="{{tips_bytes_sent}}">Bytes&nbsp;Sent</span>
    </th>
    <th title="{{tips_state}}">State</th>
    <th title="{{tips_rows_fetched}}"># rows fetched</th>
    <th title="{{tips_resource_pool}}">Resource Pool</th>
    <th title="{{tips_statement}}">Statement</th>
  </tr>
{{#completed_queries}}
  <tr>
    <td style="min-width:150px;word-break:break-all;"><a href='{{ __common__.host-url }}/query_plan?query_id={{query_id}}'>{{query_id}}</a></td>
    <td>{{effective_user}}</td>
    <td>{{default_db}}</td>
    <td><samp>{{stmt_type}}</samp></td>
    <td>{{start_time}}</td>
    <td>{{end_time}}</td>
    <td>{{duration}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{queued_duration}}</td>
    <td>{{mem_usage}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{mem_est}}</td>
    <td>{{progress}}</td>
    <td>{{bytes_read}}<hr style="margin-top:0px;margin-bottom:0px;"/>{{bytes_sent}}</td>
    <td><samp>{{state}}</samp></td>
    <td>{{rows_fetched}}</td>
    <td>{{resource_pool}}</td>
    <td><samp>{{stmt}}</samp></td>
  </tr>
{{/completed_queries}}
</table>

<h3>Query Locations</h3>

<table class='table table-hover table-bordered'>
  <tr>
    <th>Location</th>
    <th>Backend Id</th>
    <th>Number of running queries with fragments on this host</th>
  </tr>
{{#query_locations}}
  <tr>
    <td>{{location}}</td>
    <td>{{backend_id}}</td>
    <td>{{count}}</td>
  </tr>
{{/query_locations}}
</table>

{{> www/common-footer.tmpl }}
