<!--
Copyright 2012- Cloudera Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
{{> www/common-header.tmpl }}

<!-- Enable the 'highlight' library, which does syntax highlighting of query
     statements -->
<link rel="stylesheet" href="www/highlight/styles/default.css">
<script src="www/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<h3>Query <tt>{{query_id}}</tt></h3>
<h4><em>Status:</em> {{status}}</h4>

<pre><code>{{stmt}}</code></pre>

<h3>Exec Summary</h3>
<pre>{{summary}}</pre>

<h3>Plan</h3>
<pre>{{plan}}</pre>

{{> www/common-footer.tmpl}}
