*~

build

# Generated sources.
generated-sources/**/*
src/common/version.cc
src/kudu/util/protoc-gen-insertions
src/kudu/rpc/protoc-gen-krpc
*.proxy.h
*.proxy.cc
*.service.h
*.service.cc
*.pb.h
*.pb.cc

# Static libraries.
*.a
