target

# Eclipse artifacts
.classpath
.settings
.project

# IntelliJ artifacts
*.iml
*.ipr
*.iws

# OS X Artifacts
.DS_Store

# emacs backup files
*~

HBaseAllTypesError
HBaseAllTypesErrorNoNulls

# Hive benchmark data (not in repo, manually copied)
hive_benchmark
