<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<configuration>
  <property>
    <name>llama.am.server.thrift.http.address</name>
    <value>0.0.0.0:${LLAMA_WEBUI_PORT}</value>
  </property>

  <!-- This is causing problems now, re-enable it later. -->
  <property>
    <name>llama.am.cache.enabled</name>
    <value>false</value>
    <description>
      Global setting that indicates if Llama should cache allocated resources on
      release.
    </description>
  </property>

  <!-- This is a yarn config but Llama needs it here.  -->
  <property>
    <name>yarn.scheduler.include-port-in-node-name</name>
    <value>true</value>
  </property>

  <property>
    <name>llama.am.server.thrift.node.name.mapping.class</name>
    <value>com.cloudera.llama.am.MiniClusterNodeMapper</value>
    <description>
      The NodeMapper implementation LlamaAM server uses to convert requested
      locations into Yarn Nodes.
      The default (and only implementation for production) drops the port
      number if present (Impala uses DataNode addresses to request a location,
      these addresses may contain the DataNode port number. The DataNode port
      number is meaningless and unknown to Yarn).
    </description>
  </property>

  <property>
    <name>llama.minicluster.node.mapper.mapping</name>
    <value>${LLAMA_PORT_MAPPINGS}</value>
  </property>

  <property>
    <name>llama.am.hadoop.user.name</name>
    <value>${USER}</value>
    <description>
      User name use by Llama when interacting with Yarn.
    </description>
  </property>

<!-- BEGIN Kerberos settings -->
  <property>
    <name>llama.am.server.thrift.security</name>
    <value>true</value>
  </property>

  <property>
    <name>llama.am.server.thrift.kerberos.keytab.file</name>
    <value>${KRB5_KTNAME}</value>
  </property>

  <property>
    <name>llama.am.server.thrift.kerberos.server.principal.name</name>
    <value>${MINIKDC_PRINC_LLAM}</value>
  </property>

  <property>
    <name>llama.am.server.thrift.kerberos.notification.principal.name</name>
    <!-- <value>${MINIKDC_PRINC_IMPALA_BE}</value> -->
    <value>impala-be</value>
  </property>
<!-- END Kerberos settings -->

</configuration>
